.pt-word-div{
    min-height : 260px;
}
.pt-left-word-div{
    width: 100%;
    height: 100%;
}
#pt-word-text-quiz-answer{
    position: absolute;
    top : calc(50% - 17px);
    left : calc(50% - 12px);
    font-size : 24px;
    /*color : #18bc9c !important;*/
    opacity: 0.8;
    /*color : #636363  ;*/
    color: #262626;
}
.pt-word-text{
    position: absolute;
    top : calc(50% - 17px);
    left : calc(50% - 12px);
    font-size : 24px;
    /*color : #18bc9c !important;*/
    color : #94B8D2;
    opacity: 0.8;
}
.pt-word-text:hover {

}

#portfolio .portfolio-item .portfolio-link .caption .caption-content{
    color: white !important;
    margin-top : -20px;
    margin-left : -10px;
    font-size:24px;
    /*font-weight:bold;*/
}


.pt-left-word-div .pt-word-text{
    /*color : #18bc9c !important;*/

    color : #262626;
}
.pt-left-word-div{
    font-size:50pt !important;
    height:600px;
    background-color: #94B8D2;
}

.pt-right-word-div:hover{
    /*cursor : pointer;*/
    /*color:white;*/
}
.pt-right-word-div{
    height: 300px;
    cursor : pointer;
    background-color : #262626;
}
@media (max-width: 768px) {
    .container{
        padding:0px;
    }
    .pt-left-word-div{
        font-size:50pt !important;
        height:270px;
    }
    .pt-right-word-div{
        height: 50px;
        background-color : #262626;
        color : #94B8D2;
        cursor : pointer;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}